<h1>Welcome</h1>
<p>
	the is the landing page for Jamsblog, a blog about everything, made using Ruby in Rails.
</p>

<p>
	This page is just a placeholder. later on I'll replace it later with blog posts.
</p>